.tele-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99dvh;
  background-color: black;
  border: 1px solid red;
}

.tele-wrapper button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 36px;
  min-width: 66px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid red;
}

.tele-wrapper .tele-container {
  height: 90dvh;
  width: 96dvw;
  position: relative;
  transform: translateY(-2rem);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.tele-wrapper .tele-container p {
  transform: scaleY(-1);
  color: yellow;
  position: absolute;
  bottom: 10rem;
}

.tele-wrapper .tele-container .tele-button-container {
  display: flex;
}

.tele-wrapper .tele-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tele-wrapper .button-controls {
  display: flex;
  align-items: center;
  input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid red;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: red;
    width: 66px;
    height: 66px;
    text-align: center;

    &:focus {
      outline: none;
      border-color: yellow;
    }
  }
}

.tele-wrapper .button-controls span {
  font-size: 24px;
  color: rgb(255, 0, 0);

  &.big-a {
    font-size: 32px;
  }

  &.little-a {
    font-size: 16px;
  }
}

.script-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input,
  textarea {
    font-size: 16px;
    padding: 8px;
    border: 1px solid red;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: red;

    &:focus {
      outline: none;
      border-color: yellow;
    }
  }

  textarea {
    width: 70dvw;
    height: 50dvh;
  }
}
