.homeContainter{
  display: flex;
  justify-content: center;
  width: 100%;
}

.homeImage{
  width: 500px;
  height: 350px;
  background-color: blue;
  margin: 10px;
}

.image{
  transition: all 1s ease-in-out;
}

.hidden{
  opacity: 0;
}

.homeText{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    color: white;
    font-size: 30px;
    font-weight: 200;
    width: 520px;
    margin: 10px;
    /* text-align: justify; */
  }

  @media screen and (max-width: 930px){
      .homeContainter{
        flex-direction: column;
        align-items: center;
      }
      .homeText{
        font-size: 25px;
      }
  }

  @media screen and (max-width: 530px){
    .homeContainter{
      flex-direction: column;
      align-items: center;
    }
    .homeText{
      font-size: 20px;
      width: 375px;
    }
    .homeImage{
      width: 375px;
      height: 262px;
      background-size: cover;
      /* background-color: blue; */
      margin: 10px;
    }

    .image{
      width: 375px;
      height: 262px;
      /* transition: all 1s ease-in-out; */
    }
}
