.theForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    /* background-color: grey; */
    border: 1px solid grey;
    padding-bottom: 35px;
    border-radius: 10px;
}

.form_element,.submit_button,.message_form_element{
    width: 300px;
    border: solid 1px rgb(122, 122, 122);
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.message_form_element{
    height: 100px;
}
.submit_button{

    height: 40px;
    border-radius: 10px;
}
.errors{
    color: red;
    background-color: rgb(26, 26, 26);
    padding: 6px;
    margin: 15px;
    border: 1px solid red;
    border-radius: 5px;
    width: 300px;
}
.red{
    border: solid 1px red;
    background-color: rgb(43, 14, 14);
}

.contactContainer{
    display: flex;
    flex-direction: row;
}


.contactInfoRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 520px;
    height: 383px;
    font-weight: 200;
}

.emailDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.mailIcon{
    width: 40px;
    margin-right: 20px;
}


.nameAndTitle{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.myName{
    font-size: 60px;
}
.title{
    font-size: 38px;
}


.contactLinks{
    display: flex;
    justify-content: center;
}
.contactLinkImage{
    height: 38px;
    /* filter: brightness(0.6); */
    /* transition: all 5s linear; */
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: solid 3px black;
    opacity: 0;
    cursor: pointer;
    filter: brightness(0.7);
}
.contactLinkImage:hover{
    filter: brightness(1);
    border-bottom: solid 3px white;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
}




@media screen and (max-width: 1030px){

    .contactInfoRight{
        width: 420px;
        font-weight: 200;
    }
    .emailDiv{
        font-size: 20px;
    }
    .mailIcon{
        width: 30px;
        margin-right: 10px;
    }
    .myName{
        font-size: 40px;
    }
    .title{
        font-size: 25px;
    }
    .contactLinkImage{
        height: 27px;
    }

}

@media screen and (max-width: 820px){
    .contactContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactInfoRight{
        order: -1;
        margin-bottom: 20px;
        width: 320px;
        height: 270px;
        font-weight: 200;
    }
    .emailDiv{
        font-size: 20px;
    }
    .mailIcon{
        width: 30px;
        margin-right: 10px;
    }
    .myName{
        font-size: 40px;
    }
    .title{
        font-size: 25px;
    }
    .contactLinkImage{
        height: 27px;
    }

}









@media screen and (max-width: 530px){

    .theForm{
        width: 98%;
        padding-bottom: 35px;

    }
}
