.BBBPreview{
    width: 660px;
    /* height: 500px; */
    background-color: rgb(56, 56, 56);
    border-radius:10px;
    border: solid 1px white;
    z-index: 20;
    transition: all 1s ease-in-out;
    cursor: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: blue; */
}
.BBBContent{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BBBDescription{
    display: flex;
    justify-content: space-between;
}

.BBBText{
    color: white;
    margin: 0 20px;
}
