.pickelball-ladder-play {
  /* colors  */

  background: radial-gradient(
    circle,
    rgba(47, 105, 166, 1) 0%,
    rgba(0, 27, 60, 1) 100%
  );
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 55px;
  overflow: hidden;

  @media only screen and (max-width: 1600px) {
    .courts {
      grid-template-columns: 1fr !important;
    }
  }

  h1 {
    margin-left: 0;
  }

  .queue {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
  }

  .courts {
    align-items: center;
    border-left: 1px solid rgb(174, 174, 174);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    overflow-y: auto;
  }

  .court-waiting {
    opacity: 0.5;
    h1 {
      margin-left: 1rem;
    }
    button {
      font-size: small;
      padding: 0.25rem;
    }
  }

  .court-quad-outer-container {
    display: flex;
  }

  .court-outer-container {
    display: flex;
  }

  .court-waiting-area,
  .court-quads-container {
    background-color: rgb(35, 78, 35);
    height: 7.375rem;
    width: 22.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .winner-buttons {
    display: flex;
    gap: 1rem;
    button {
      font-size: small;
      padding: 0.25rem;
    }
  }

  .button-container {
    display: flex;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-player-container {
    button {
      margin-block: 0.5rem;
      &:nth-child(3) {
        color: red;
      }
    }
    h1 {
      margin-bottom: 4rem;
    }
  }

  .edit-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .settings-button-container {
    display: flex;
    margin-block: 2rem;
    gap: 1rem;
  }

  .settings-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px black inset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      max-width: 2.5rem;
    }
  }

  .bottom-row {
    /* width: 100%; */
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.807);
    grid-column: span 2;
    display: flex;
    gap: 1rem;
    padding: 0.3125rem;
    justify-content: space-between;
    align-items: center;
    button {
      max-width: 12.5rem;
    }
  }

  .leader-board-container {
    width: 80rem;
    background-color: rgb(17, 37, 71);
    height: 45px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px inset black;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }

  .stats-outer-container {
    /* height: 45px; */
    overflow: hidden;
    /* text-overflow: clip; */
    height: 19px;
    position: relative;
    /* width: 300px; */
  }

  .leader-name-container {
    padding-left: 10px;
    display: flex;
  }

  .player-stats-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -35px;
    left: 0;
    transition: all 1s ease-in-out;
  }

  .position-0 {
    top: 0;
  }

  .position-1 {
    top: -19px;
  }

  .position-2 {
    top: -38px;
  }

  .position-3 {
    top: -58px;
  }

  .player-leaderboard {
    background-color: rgb(25, 74, 121);
    padding: 5px 12px;
    margin-right: 1.875rem;
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
    /* animation: all 2s ease-in-out forwards; */
    /* width: 14.5rem; */
    /* display: inline-block; */
  }

  .leader-fade {
    background: linear-gradient(
      0.25turn,
      rgba(17, 37, 71, 0),
      rgba(17, 37, 71, 0),
      rgba(17, 37, 71, 0),
      rgba(17, 37, 71, 0),
      rgb(6, 13, 24)
    );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .help {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
  }

  .help-info {
    max-width: 550px;
  }

  .bolder {
    font-weight: bolder;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-inner-container {
    min-width: 20rem;
    min-height: 20rem;
    max-width: 50rem;
    background-color: rgb(16, 26, 44);
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 0 0 40px 5px black;
    padding: 1rem;
    outline: 1px solid rgba(255, 153, 0, 0.281);
    outline-offset: 5px;
    button {
      max-width: 18rem;
      align-self: center;
    }
  }

  .confirm-setting {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0;

    svg {
      width: 20px;
      height: 20px;
      /* transform: translate(-25%, -30%); */
      /* color: rgb(231, 172, 172); */
    }
  }

  .court-waiting-area {
    width: 16.75rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    box-sizing: border-box;
    /* padding: 2rem; */
    p {
      margin: 0;
    }
  }

  .wait-room {
    border: 1px solid rgb(39, 39, 39);
    height: calc(7.175rem / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      max-width: 6rem;
      min-width: 6rem;
      overflow: hidden;
      padding: 0.1875rem;
      justify-content: flex-start;
      &:hover {
        background-color: rgb(55, 119, 55);
      }
    }
  }

  .court-quad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px white;
    height: calc(7.175rem / 2);
    &:nth-child(even) {
      padding-left: 1rem;
    }
    p {
      background-color: rgb(35, 78, 35);
      justify-content: flex-start;
      margin-left: 1rem;
      width: 8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.1875rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(55, 119, 55);
      }
    }
  }

  .start-button {
    margin: 1rem 0;
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .random-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    input {
      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .manual-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kitchen {
    background-color: orange;
    position: absolute;
    top: 0;
    left: calc(50% - (1.875rem / 2));
    height: 7.375rem;
    width: 1.875rem;
  }

  .net {
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 0;
    left: calc(50% - (0.3125rem / 2));
    height: 7.375rem;
    width: 0.3125rem;
  }

  .add-player-input {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
  }

  /* .leaderStats {

  } */

  .player-name {
    height: 1.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid black;
    padding: 0.125rem 0.325rem;
    background-color: rgba(255, 255, 255, 0.055);
    align-items: center;

    span {
      max-width: 6.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
    button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .set-court-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    input {
      width: 3rem;
      height: 3rem;
      font-size: x-large;
      margin: 1rem;
      padding-left: 1rem;
    }
  }

  input {
    background-color: rgb(16, 51, 98);
    height: 1.5rem;
    border: none;
    color: white;
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
  }

  button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgb(24, 59, 90);
    color: white;
    font-size: larger;
    border-top: 1px solid rgb(70, 96, 143);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(17, 23, 35);
    border-radius: 0.5rem;
    width: 100%;
    &:hover {
      filter: brightness(1.3);
    }
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
    &:active {
      box-shadow: 2px 2px 5px inset rgba(0, 0, 0, 0.472);
    }
    &:hover:active {
      outline: none;
    }
  }
}
