.pickelball-ladder-play {
  /* colors  */

  background: radial-gradient(
    circle,
    rgba(47, 105, 166, 1) 0%,
    rgba(0, 27, 60, 1) 100%
  );
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-columns: 1fr 4fr;

  .queue {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }

  .courts {
    align-items: center;
    border-left: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    overflow-y: auto;
  }

  .court-waiting {
    opacity: 0.5;
    h1 {
      margin-left: 2rem;
    }
    button {
      font-size: small;
      padding: 0.25rem;
    }
  }

  .court-quad-outer-container {
    display: flex;
  }

  .court-outer-container {
    display: flex;
  }

  .court-waiting-area,
  .court-quads-container {
    background-color: rgb(35, 78, 35);
    height: 7.375rem;
    width: 22.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .winner-buttons {
    display: flex;
    gap: 1rem;
    button {
      font-size: small;
      padding: 0.25rem;
    }
  }

  .court-waiting-area {
    width: 14.75rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    box-sizing: border-box;
    /* padding: 2rem; */
    p {
      margin: 0;
    }
  }

  .wait-room {
    border: 1px solid rgb(39, 39, 39);
    height: calc(7.175rem / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      max-width: 6rem;
      min-width: 6rem;
      overflow: hidden;
      padding: 0.1875rem;
      justify-content: flex-start;
      &:hover {
        background-color: rgb(55, 119, 55);
      }
    }
  }

  .court-quad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px white;
    height: calc(7.175rem / 2);
    &:nth-child(even) {
      padding-left: 1rem;
    }
    p {
      background-color: rgb(35, 78, 35);
      justify-content: flex-start;
      margin-left: 1rem;
      width: 8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.1875rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(55, 119, 55);
      }
    }
  }

  .start-button {
    margin: 1rem 0;
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .random-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    input {
      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }
  }
  .disabled {
    opacity: 0.5;
  }

  .manual-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kitchen {
    background-color: orange;
    position: absolute;
    top: 0;
    left: calc(50% - (1.875rem / 2));
    height: 7.375rem;
    width: 1.875rem;
  }

  .net {
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 0;
    left: calc(50% - (0.3125rem / 2));
    height: 7.375rem;
    width: 0.3125rem;
  }

  .add-player-input {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
  }

  .player-name {
    height: 1.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid black;
    padding: 0.125rem 0.325rem;
    background-color: rgba(255, 255, 255, 0.055);
    align-items: center;

    span {
      max-width: 6.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
    button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .set-court-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    input {
      width: 3rem;
      height: 3rem;
      font-size: x-large;
      margin: 1rem;
      padding-left: 1rem;
    }
  }

  input {
    background-color: rgb(16, 51, 98);
    height: 1.5rem;
    border: none;
    color: white;
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
  }

  button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgb(24, 59, 90);
    color: white;
    font-size: larger;
    border-top: 1px solid rgb(70, 96, 143);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(17, 23, 35);
    border-radius: 0.5rem;
    width: 100%;
    &:hover {
      filter: brightness(1.3);
    }
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
    &:active {
      box-shadow: 2px 2px 5px inset rgba(0, 0, 0, 0.472);
    }
    &:hover:active {
      outline: none;
    }
  }
}
