.pickelball-ladder-play {
  /* colors  */

  background: radial-gradient(
    circle,
    rgba(47, 105, 166, 1) 0%,
    rgba(0, 27, 60, 1) 100%
  );
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-columns: 1fr 4fr;

  .queue {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }

  .courts {
    align-items: center;
    border-left: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    overflow-y: auto;
  }

  .court-waiting {
    opacity: 0.5;
  }

  .court-outer-container {
    display: flex;
  }

  .court-waiting-area,
  .court-quads-container {
    background-color: rgb(35, 78, 35);
    height: 9.375rem;
    width: 18.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .court-quad {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
  }

  .kitchen {
    background-color: orange;
    position: absolute;
    top: 0;
    left: calc(50% - (1.875rem / 2));
    height: 9.375rem;
    width: 1.875rem;
  }

  .net {
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 0;
    left: calc(50% - (0.3125rem / 2));
    height: 9.375rem;
    width: 0.3125rem;
  }

  .add-player-input {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
  }

  .player-name {
    height: 1.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid black;
    padding: 0.125rem 0.325rem;
    background-color: rgba(255, 255, 255, 0.055);
    align-items: center;

    span {
      max-width: 6.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .set-court-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    input {
      width: 3rem;
      height: 3rem;
      font-size: x-large;
      margin: 1rem;
      padding-left: 1rem;
    }
  }

  input {
    background-color: rgb(16, 51, 98);
    height: 1.5rem;
    border: none;
    color: white;
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
  }

  button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgb(24, 59, 90);
    color: white;
    font-size: larger;
    border-top: 1px solid rgb(70, 96, 143);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(17, 23, 35);
    border-radius: 0.5rem;
    width: 100%;
    &:hover {
      filter: brightness(1.3);
    }
    &:focus {
      outline: 1px solid rgb(69, 73, 176);
      outline-offset: 0.1875rem;
    }
    &:active {
      box-shadow: 2px 2px 5px inset rgba(0, 0, 0, 0.472);
    }
    &:hover:active {
      outline: none;
    }
  }
}
