body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: black;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 44px;
  margin: 10px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 35px;
  margin: 20px;
}
p {
  font-size: 18px;
  /* font-weight: 200; */
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* .wrapper{
  display: grid;
  grid-template-rows: 60px 1fr 70px;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100vw;
  height: 100vh;

} */

.content_container {
  display: flex;
}

.pages {
  display: flex;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;
  background-color: rgb(34, 34, 34);
}

.page {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  transition: all 1s ease-in-out;

  /* left: -500px; */
}

.page_element {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.highlightColor {
  color: rgb(255, 145, 0);
}
.reference {
  font-size: 25px;
}

.spacer {
  height: 70px;
  width: 100%;
}

.unhide {
  animation: unhide 1s linear 2s 1 normal forwards;
}

.hide {
  animation: hide 1s linear 0s 1 normal forwards;
}

.unHideFooterLinks {
  animation: unhide 1s linear 0s 1 normal forwards;
}

.hideFooterLinks {
  animation: hide 1s linear 1s 1 normal forwards;
}

@keyframes unhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.01;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }
  .page {
    height: 650px;
  }
  .spacer {
    height: 1px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }
  .page {
    height: 450px;
    align-items: flex-start;
  }
  .spacer {
    height: 1px;
  }
}

.visually-hidden {
  position: fixed;
  color: white;
  bottom: 0;
  right: 0;
  opacity: 0;
}
