body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: rgb(34, 34, 34);

}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 44px;
  margin: 10px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 35px;
  margin: 20px;
}
p{
  font-size: 18px;
  /* font-weight: 200; */
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

.content_container{
  display: flex;
}

.pages{
  display: flex;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;
}


.page{
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  transition: all 1s ease-in-out;

  /* left: -500px; */
}

.page_element{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}


.highlightColor{
  color: rgb(255, 145, 0);
}
.reference{
  font-size: 25px;
}
