.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(34, 34, 34);

}

.hidden{
  display: none;
}
.homeText{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 720px;
  /* border: 1px solid grey; */
  /* padding: 60px; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 35px rgb(53, 53, 53) inset; */
  /* background-color: red; */
}
.highlightColor{
  color: rgb(255, 145, 0);
}
.reference{
  font-size: 25px;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 35px;
}
